<form action="/articles" method="post">
  <ul>
    <li>
      <!-- You may also use <label for=>Title</label> -->
      <label>Title</label>
      <input id="Any_ID" type="text" name="title" />
    </li>
    <li>
      <label for="content">Content</label>
      <textarea id="Use_any_ID" type="text" name="content">
      </textarea>
    </li>
  </ul>
  <input type="submit" />
</form>